{% extends 'base.html' %}

{% block 'contenido' %}
<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title text-center">¿Quiénes somos?</h2>
            <p class="card-text text-justify">En OnlyFlans contamos con más de veinte años de experiencia, satisfaciendo y endulzando los paladares de nuestros clientes. Nuestra prioridad es garantizar un excelente postre, utilizando ingredientes de la más alta calidad. Contamos con una amplia variedad de los más exquisitos flanes. Esto nos ha llevado a ser una de las marcas más prestigiosas de Sudamérica.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}